body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ensure the body takes the full height of the viewport */
  margin: 0;
  /* Remove default margin */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-container {
  width: 50vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #0b099e;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  margin: 10px 0 5px;
  display: block;
  color: #958e8e;
  font-weight: bold;
}

#upload-button {
  font-weight: bold;

}

.submit-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #cfc8c8;
  border-radius: 6px;
}

button,
input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  display: flex;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;

}

button:hover,
input[type="submit"]:hover {
  background-color: #0056b3;
}

#image-options {
  display: none;
}

.nutrients-name {
  font-weight: bold;
}