<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Image Classification</title>
</head>

<body>
    <h1>Food Image Classification</h1>
    <form action="/predict" method="post">
        <label for="url">Enter Image URL:</label><br>
        <input type="text" id="url" name="url"><br>
        <input type="submit" value="Submit">
    </form>

    <h2>Get Nutrition Info</h2>
    <form action="/nutrition_info" method="post">
        <label for="food_class">Predicted Food Class:</label><br>
        <input type="text" id="food_class" name="food_class" readonly><br>
        <label for="serving_size">Enter Serving Size:</label><br>
        <input type="number" id="serving_size" name="serving_size"><br>
        <input type="submit" value="Get Nutrition Info">
    </form>
</body>

</html>